*{
  margin: 0;
  padding: 0;
}
header{
    background-color: #3c7bf0;
    text-align: center;
    color: white;
    height: 50px;
}
form{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

  }
input, select{
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 340px;
  }
#reset, #submit{
    background-color: #3c7bf0;
    color: white;
    font-size: 25px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
p{
    font-size: 20px;
}
